<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher_new"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_new_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.JUNTOSJC">
        <activity
            android:name=".ConfiguracionActivity"
            android:exported="false"
            android:label="Configuración"
            android:theme="@style/Theme.JUNTOSJC" />
        <activity
            android:name=".FotosActivity"
            android:exported="false"
            android:label="@string/title_activity_fotos"
            android:theme="@style/Theme.JUNTOSJC" />
        <activity
            android:name=".GaleriaFotosSupabaseActivity"
            android:exported="false"
            android:label="Galería Supabase"
            android:theme="@style/Theme.JUNTOSJC" />
        <activity
            android:name=".AyudaActivity"
            android:exported="false"
            android:label="@string/title_activity_ayuda"
            android:theme="@style/Theme.JUNTOSJC" />
        <activity
            android:name=".PerfilActivity"
            android:exported="false"
            android:label="Perfil"
            android:theme="@style/Theme.JUNTOSJC" />/>
        <activity
            android:name=".MainActivity"
            android:exported="true" />
        <activity
            android:name=".ContactosActivity"
            android:exported="true" />
        <activity
            android:name=".DetalleContactoActivity"
            android:exported="true" />
        <activity
            android:name=".DocumentoActivity"
            android:exported="true" />
        <activity
            android:name=".ArchivoActivity"
            android:exported="true" />
        <activity
            android:name=".RedSocialActivity"
            android:exported="true" />
        <activity
            android:name=".DetalleComentarioActivity"
            android:exported="true" />
        <activity
            android:name=".CalendarioActivity"
            android:exported="true" />
        <activity
            android:name=".TareasActivity"
            android:exported="true" />
        <activity
            android:name=".DetalleTareaActivity"
            android:exported="true" />
        <activity
            android:name=".LoginActivity"
            android:exported="true" />
        <activity android:name=".DetalleEventoActivity"
            android:exported="true"/>
        <activity
            android:name=".BienvenidoActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.JUNTOSJC">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>